.container {
  min-height: 100vh;
  background: #ccc;
  max-width: 100%;
  margin: 0 auto;
}
.posts {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.post {
  background: #fefefe;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 100ms ease-in-out;
}

.post:hover {
  transform: scale(1.1);
}
.post img {
  max-width: 100%;
}
.post-content {
  padding: 30px;
}